html{
    line-height: 1.15;
    /* 父元素行高为1.15时，会根据子元素的字体大小动态
    计算出行高值让子元素继承
    子元素行高等于(? * 1.5)px */
    -ms-text-size-adjust: 100%;
    /* 字体大小自动调整功能. */
    -webkit-text-size-adjust: 100%;
    
  }   
  html,body {
    width: 100%;
    height: 100%;
  }
  body {
    /* line-height: 1.5; */
    color: black;
    background-color: #fff;
    overflow: hidden;
  }
  body,div,span,dl,ul,li,a{
    margin: 0;
    padding: 0;
  }        
  .out{
      background: #ececec;
  }
  .fa-file-text-o{
      width: 200px;
      height: 75px;
      float: left;
      margin-left:5px;
      line-height: 75px;
  }          
  #number{
      outline: none;
      color: #838080;
      margin-bottom: 0;
      list-style: none;
      text-align: left;
      height: 144px;
      position: fixed;
      top:75px;
  }
     
  #number li{
      list-style-type: none;
      font-size:8px;           
      width: 200px;          
      height: 48px;
      line-height: 48px;
      transition: background .3s ease-in-out;
  }              
  .licont{
      text-align:center;
      padding:20px;

  }
  #number li span{                
      position: relative;
      background: transparent;
      text-decoration: none;
      outline: none;
      cursor: pointer;
      height:100%;
      left:25px;
  }
  #number li span:active,
  #number li span:hover {
    color: #fff;
    outline: 0;
    text-decoration: none;
  }
  .liname{
      font-size:small;
  }

  section{
      width: 350px;
      float:left;
      padding:5px;            
  }        

  .menu{
      position: fixed;
      background: #404040;
      height:100%;
      width:200px;
      float: left;
      color: #fff;
      z-index:88;	
      transition-property:left;	
      transition: left 3s;
  }

  .skuang{
      position: fixed;
      top: 75px;
      left:200px;
      text-align: center;
      width: 43px;
      height: 48px;
      z-index:88;
      line-height: 48px;
      background-color: #404040;
      /* color: #fff; */
      font-size: 23px;
      border-radius: 0 4px 4px 0; 
      cursor: pointer;
      /* transition: background .3s ease-in-out; */
      transition:1s;
  }
  .skuang a{
      color: #fff;
      line-height: 48px;
      text-decoration: none;
  }
  .skuang:hover{
      background-color: #5a5959;
  }         
  .kuang{
      /* position: fixed; */
      /* left:200px; */
      height:100%;
      width:100%;
      background-color:rgb(221, 217, 217);
  }
  .kuang header{
      background: #2ec6dd;
      height: 75px;
      line-height: 64px;
      flex: 0 0 auto;
      /* position:fixed; */
      margin-bottom: 15px;
  }        
  #content{
      padding:24px;
      margin:14px;
      background: #fff; 
      height: calc(100vh - 196px);
      float:right;
      width:80%;
      transition:1s;
      margin-left:20%;
  }
  .page{
      height: 100%;
      width: 100%;
      overflow-y:auto; 
  }       
  footer{
      position: absolute;
      text-align: center;
      padding-left: 50%;
      transition:.1s;
  }
  .footcont{
      padding: 11px;
      color: black;
      font-size: 12px;

  }
  hr{
     height:1px;
     border:none;
     border-top:1px solid rgb(221, 217, 217); 
  }
  form{
      margin-bottom: 0.31%;
      color:#838080;
  }
  #table-1
  {
      width:100%;
      border-collapse:collapse;
  }
  #table-1 th 
  {
      text-align:left;
      font-weight: 500;
      padding-top:.7%;
      padding-bottom:.7%;
      font-size:15px; 
      background-color:rgb(248, 244, 244);
      border-radius: 5px;
  }

  #table-1 tr.alt td 
  {
      color:#000000;
      background-color:#EAF2D3;
  }
  .check-s {
      position: relative;
      right:-14%;
      display: inline-block;
      background: #108ee9;
      border-color: #108ee9;
      border-radius: 5px;
      padding: 4px 17px;
      overflow: hidden;
      color: rgb(248, 244, 244);
      text-decoration: none;
      text-indent: 0;
      line-height: 16px;
      margin-bottom: 0px;
  }
  .check-i{
      position: absolute;
      font-size: 23px;
      right: 0;
      left:0;
      top: 0;
      opacity: 0;
  }
  .check-s:hover {
      background: #AADFFD;
      border-color: #78C3F3;
      color: #004974;
      text-decoration: none;
  }
  select ,input{
      border:solid  1px white;
      color:#838080;
  }
  select:hover{
      border: solid 1px rgb(194, 187, 187) 
  }